@import "tailwindcss";

@theme {
    --color-primary: #25327B;
    --color-secondary: #255D7B;
    --font-display: "Inter", sans-serif; 
    --color-gray-general: #C6CAD4;
    --color-white-light: #D9D9D9;
    --color-button-light: #35B1A2;
 }